<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Elevations">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Elevations</h1>
                  <p class="body mb--16">Shadows helps create elevation. Elevation is the relative distance between two
                    surfaces.</p>
                  <p class="body mb--0">Use the shadow if you want to show that one element is higher than the other
                    one. In the Aitheon design system exist two types of shadows.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Small Shadow</h3>
                  <p class="body mb--32">Usage: Tooltips, hints, banners, sneakbars</p>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-8">
                  <div class="wrap-style">
                    <p class="body body__white mb--4">-webkit-box-shadow: 0px 2px 6px 0px rgba(31,31,31,1);</p>
                    <p class="body body__white mb--4">-moz-box-shadow: 0px 2px 6px 0px rgba(31,31,31,1);</p>
                    <p class="body body__white mb--4">box-shadow: 0px 2px 6px 0px rgba(31,31,31,1);</p>
                  </div>
                </div>
                <div class="col-3 offset-1">
                  <div class="copy-block">
                    <p class="copy-block__var">$small-elevation-dt<span
                        class="copy-block__icon-copy icon icon--duplicate icon--size-16px"></span></p>
                    <p class="body copy-block__info mb--0">X <span class="copy-block__value">0</span></p>
                    <p class="body copy-block__info mb--0">Y <span class="copy-block__value">2</span></p>
                    <p class="body copy-block__info mb--0">Blur <span class="copy-block__value">6</span></p>
                    <p class="body copy-block__info mb--0">Color <span class="copy-block__value">$coal-gray
                        (1f1f1f)</span></p>
                    <p class="body copy-block__info mb--0">Opacity <span class="copy-block__value">100%</span></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Big Shadow</h3>
                  <p class="body mb--32">Usage: Dialogs</p>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="wrap-style">
                    <p class="body body__white mb--4">-webkit-box-shadow: 0px 4px 12px 0px rgba(31,31,31,1);</p>
                    <p class="body body__white mb--4">-moz-box-shadow: 0px 4px 12px 0px rgba(31,31,31,1);</p>
                    <p class="body body__white mb--4">box-shadow: 0px 4px 12px 0px rgba(31,31,31,1);</p>
                  </div>
                </div>
                <div class="col-3 offset-1">
                  <div class="copy-block">
                    <p class="copy-block__var">$small-elevation-dt<span
                        class="copy-block__icon-copy icon icon--duplicate icon--size-16px"></span></p>
                    <p class="body copy-block__info mb--0">X <span class="copy-block__value">0</span></p>
                    <p class="body copy-block__info mb--0">Y <span class="copy-block__value">4</span></p>
                    <p class="body copy-block__info mb--0">Blur <span class="copy-block__value">12</span></p>
                    <p class="body copy-block__info mb--0">Color <span class="copy-block__value">$coal-gray
                        (1f1f1f)</span></p>
                    <p class="body copy-block__info mb--0">Opacity <span class="copy-block__value">100%</span></p>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>