<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Inputs">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--0">Inputs</h1>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--48">Contained</h3>
                  <h4 class="h4 mb--24">Text</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 1.png"
                      alt="Text contained default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 2.png"
                      alt="Text contained hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 3.png"
                      alt="Text contained active">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 4.png"
                      alt="Text contained filled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap">
                    <img class="img-wrap__img mb--24" src="./assets/img/states/Inputs/Contained/contained 6.png"
                      alt="Text contained disabled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--64">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 5.png"
                      alt="Text contained error">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="h4 mb--24">Dropdown</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 7.png"
                      alt="Dropdown contained default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 8.png"
                      alt="Dropdown contained hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 9.png"
                      alt="Dropdown contained active">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 10.png"
                      alt="Dropdown contained filled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 11.png"
                      alt="Dropdown contained disabled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--64">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Contained/contained 12.png"
                      alt="Text contained error">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="h4 mb--24">Payment</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 1.png"
                      alt="Payment contained default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 1.png"
                      alt="Payment contained hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 1.png"
                      alt="Payment contained filled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 1.png"
                      alt="Payment contained invalid">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--64">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 1.png"
                      alt="Payment contained error">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="h4 mb--24">Phone number</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 1.png"
                      alt="Phone number contained default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 1.png"
                      alt="Phone number contained hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 1.png"
                      alt="Phone number contained filled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 1.png"
                      alt="Phone number contained error">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h3 class="h3 mb--48">Underlined</h3>
                  <h4 class="h4 mb--24">Text</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 1.png"
                      alt="Text underlined default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 2.png"
                      alt="Text underlined hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 3.png"
                      alt="Text underlined active">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 4.png"
                      alt="Text underlined filled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 5.png"
                      alt="Text underlined disabled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--64">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 6.png"
                      alt="Text underlined error">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="h4 mb--24">Search</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 7.png"
                      alt="Search underlined default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 8.png"
                      alt="Search underlined hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 9.png"
                      alt="Search underlined active">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 10.png"
                      alt="Search underlined active filled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--64">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 11.png"
                      alt="Search underlined filled">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="h4 mb--24">Dropdown</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 12.png"
                      alt="Dropdown underlined default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 13.png"
                      alt="Dropdown underlined hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 14.png"
                      alt="Dropdown underlined active">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 15.png"
                      alt="Dropdown underlined filled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 16.png"
                      alt="Dropdown underlined disabled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Underlined/underlined 17.png"
                      alt="Dropdown underlined error">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h3 class="h3 mb--48">Outlined</h3>
                  <h4 class="h4 mb--24">Text</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 1.png"
                      alt="Outlined text default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 2.png"
                      alt="Outlined text hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 3.png"
                      alt="Outlined text active">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 4.png"
                      alt="Outlined text filled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 5.png"
                      alt="Outlined text error">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--64">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 6.png"
                      alt="Outlined text disabled">
                  </figure>
                </div>
                <div class="col-12">
                  <h4 class="h4 mb--24">Dropdowns</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 7.png"
                      alt="Outlined dropdowns default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 8.png"
                      alt="Outlined dropdowns hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 9.png"
                      alt="Outlined dropdowns filled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 10.png"
                      alt="Outlined dropdowns active">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 11.png"
                      alt="Outlined dropdowns disabled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Outlined/outlined 12.png"
                      alt="Outlined dropdowns error">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h3 class="h3 mb--48">Ghost Inputs</h3>
                  <h4 class="h4 mb--24">Text</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap">
                    <img class="img-wrap__img mb--24" src="./assets/img/states/Inputs/Ghost/ghost 1.png"
                      alt="Ghost text default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap">
                    <img class="img-wrap__img mb--24" src="./assets/img/states/Inputs/Ghost/ghost 2.png"
                      alt="Ghost text hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap">
                    <img class="img-wrap__img mb--64" src="./assets/img/states/Inputs/Ghost/ghost 3.png"
                      alt="Ghost text active">
                  </figure>
                </div>
                <div class="col-12">
                  <h4 class="h4 mb--24">Dropdowns</h4>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Ghost/ghost 4.png"
                      alt="Ghost dropdowns default">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Ghost/ghost 5.png"
                      alt="Ghost dropdowns hovered">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Inputs/Ghost/ghost 6.png"
                      alt="Ghost dropdowns active">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="../assets/img/states/Inputs/Ghost/ghost 7.png"
                      alt="Ghost dropdowns filled">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img" src="../assets/img/states/Inputs/Ghost/ghost 8.png"
                      alt="Ghost dropdowns disabled">
                  </figure>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Navigation">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--0">Tabs</h1>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Tabs/tab 1.png" alt="Tab default">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Tabs/tab 2.png" alt="Tab hovered">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img" src="./assets/img/states/Tabs/tab 3.png" alt="Tab active">
                  </figure>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Chips">
            <div class="row">
              <div class="col-md-12">
                <div class="container">
                  <div class="row">
                    <div class="col-6">
                      <h1 class="h1 mb--0">Chips</h1>
                    </div>
                    <div class="col-12">
                      <hr class="divider">
                    </div>
                    <div class="col-12">
                      <h3 class="h3 mb--24">Contained</h3>
                    </div>
                    <div class="col-2 mb--24">
                      <figure class="img-wrap">
                        <img class="img-wrap__img" src="./assets/img/states/Chips/chips 1.png"
                          alt="Contained chips default">
                      </figure>
                    </div>
                    <div class="col-2 mb--24">
                      <figure class="img-wrap">
                        <img class="img-wrap__img" src="./assets/img/states/Chips/chips 2.png"
                          alt="Contained chips hovered">
                      </figure>
                    </div>
                    <div class="col-2 mb--24">
                      <figure class="img-wrap">
                        <img class="img-wrap__img" src="./assets/img/states/Chips/chips 3.png"
                          alt="Contained chips active">
                      </figure>
                    </div>
                    <div class="col-2 mb--24">
                      <figure class="img-wrap">
                        <img class="img-wrap__img" src="./assets/img/states/Chips/chips 4.png"
                          alt="Contained chips error">
                      </figure>
                    </div>
                    <div class="col-2 mb--64">
                      <figure class="img-wrap">
                        <img class="img-wrap__img" src="./assets/img/states/Chips/chips 5.png"
                          alt="Contained chips disabled">
                      </figure>
                    </div>
                    <div class="col-12">
                      <h3 class="h3 mb--24">Outlined</h3>
                    </div>
                    <div class="col-2">
                      <figure class="img-wrap mb--24">
                        <img class="img-wrap__img" src="./assets/img/states/Chips/chips 6.png"
                          alt="Outlined chips default">
                      </figure>
                    </div>
                    <div class="col-2">
                      <figure class="img-wrap mb--24">
                        <img class="img-wrap__img" src="./assets/img/states/Chips/chips 7.png"
                          alt="Outlined chips hovered">
                      </figure>
                    </div>
                    <div class="col-2">
                      <figure class="img-wrap mb--24">
                        <img class="img-wrap__img" src="./assets/img/states/Chips/chips 8.png"
                          alt="Outlined chips active">
                      </figure>
                    </div>
                    <div class="col-2">
                      <figure class="img-wrap mb--24">
                        <img class="img-wrap__img" src="./assets/img/states/Chips/chips 9.png"
                          alt="Outlined chips error">
                      </figure>
                    </div>
                    <div class="col-2 mb--64">
                      <figure class="img-wrap">
                        <img class="img-wrap__img" src="./assets/img/states/Chips/chips 10.png"
                          alt="Outlined chips disabled">
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Buttons">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--0">Buttons</h1>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--24">Contained</h3>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Buttons/Button 1.png"
                      alt="Button contained default">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Buttons/Button 2.png"
                      alt="Button contained hovered">
                  </figure>
                </div>
                <div class="col-2 mb--64">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/states/Buttons/Button 3.png"
                      alt="Button contained disabled">
                  </figure>
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--24">Outlined</h3>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Buttons/Button 4.png"
                      alt="Button outlined default">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Buttons/Button 5.png"
                      alt="Button outlined hovered">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--64">
                    <img class="img-wrap__img" src="./assets/img/states/Buttons/Button 6.png"
                      alt="Button outlined disabled">
                  </figure>
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--24">Text</h3>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Buttons/Button 7.png" alt="Button text default">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Buttons/Button 8.png" alt="Button text hovered">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--64">
                    <img class="img-wrap__img" src="./assets/img/states/Buttons/Button 9.png"
                      alt="Button text disabled">
                  </figure>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Lists">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--0">Lists</h1>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h3 class="h3 mb--24">Lists</h3>
                </div>
                <div class="col-4">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Lists/list 1.png" alt="Lists">
                  </figure>
                </div>
                <div class="col-4">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Lists/list 2.png" alt="Lists">
                  </figure>
                </div>
                <div class="col-4">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/states/Lists/list 5.png" alt="Lists">
                    </figure>
                  </div>
                <div class="col-4">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Lists/list 3.png" alt="Lists">
                  </figure>
                </div>
                <div class="col-4">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img" src="./assets/img/states/Lists/list 4.png" alt="Lists">
                  </figure>
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--24">Active items</h3>
                </div>
                <div class="col-4">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Lists/list 5.png" alt="Lists active items">
                  </figure>
                </div>
                <div class="col-4">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Lists/list 7.png" alt="Lists active items">
                  </figure>
                </div>
                <div class="col-4">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/states/Lists/list 8.png" alt="Lists active items">
                  </figure>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Actions & Selection Controls">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h1 class="h1 mb--0">Actions & Selection Controls</h1>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--24">Actions</h3>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Actions/actions 1.png" alt="Actions normal">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Actions/actions 2.png"
                      alt="Actions hovered">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Actions/actions 3.png" alt="Actions active">
                  </figure>
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--24">Checkboxes</h3>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Checkbox/Checkboxes 1.png"
                      alt="Checkboxes default">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wra mb--24p">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Checkbox/Checkboxes 2.png"
                      alt="Checkboxes hovered">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Checkbox/Checkboxes 3.png"
                      alt="Checkboxes active">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Checkbox/Checkboxes 4.png"
                      alt="Checkboxes active hovered">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Checkbox/Checkboxes 5.png"
                      alt="Checkboxes disabled">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Checkbox/Checkboxes 6.png"
                      alt="Checkboxes disabled active">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Checkbox/Checkboxes 7.png"
                      alt="Checkboxes Indeterminate">
                  </figure>
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--24">Radio Buttons</h3>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Radio/RadioButtons 1.png"
                      alt="Checkboxes default">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Radio/RadioButtons 2.png"
                      alt="Checkboxes hovered">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Radio/RadioButtons 3.png"
                      alt="Checkboxes active">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Radio/RadioButtons 4.png"
                      alt="Checkboxes active hovered">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Radio/RadioButtons 5.png"
                      alt="Checkboxes disabled">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Radio/RadioButtons 6.png"
                      alt="Checkboxes active disabled">
                  </figure>
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--24">Toggle</h3>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Toggle/Toggle 1.png" alt="Toggle off">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Toggle/Toggle 2.png"
                      alt="Toggle hovered off">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Toggle/Toggle 3.png" alt="Toggle on">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Toggle/Toggle 4.png"
                      alt="Toggle hovered on">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Toggle/Toggle 5.png"
                      alt="Toggle disabled off">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Toggle/Toggle 6.png"
                      alt="Toggle disabled on">
                  </figure>
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--24">Slider</h3>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Slider/Slider 1.png" alt="Slider default">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Slider/Slider 2.png"
                      alt="Slider default hovered">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Slider/Slider 3.png" alt="Slider active">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Slider/Slider 4.png"
                      alt="Slider active hovered">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Slider/Slider 5.png"
                      alt="Slider default disabled">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img"
                      src="./assets/img/states/Actions & Selection Controls/Slider/Slider 6.png"
                      alt="Slider active disabled">
                  </figure>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>