<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body" style="background: #252525">
        <h3>Colors & Typography</h3>
        <br>
        <h4>Primary colors</h4>
        <div class="row">
          <div class="col-12">
            <div class="color-box">
              <label>#DCBC65</label>
              <span style="background: #DCBC65"></span>
            </div>
            <div class="color-box">
              <label>#1A1A1A</label>
              <span style="background: #1A1A1A"></span>
            </div>
          </div>
        </div>
        <br>
        <h4>Secondary colors</h4>
        <div class="row">
          <div class="col-12">
            <div class="color-box">
              <label>#EDDDB2</label>
              <span style="background: #EDDDB2"></span>
            </div>
            <div class="color-box">
              <label>#7e7e7e</label>
              <span style="background: #7e7e7e"></span>
            </div>
            <div class="color-box">
              <label>#ffffff</label>
              <span style="background: #ffffff"></span>
            </div>
            <div class="color-box">
              <label>#E95858</label>
              <span style="background: #e95858"></span>
            </div>
            <div class="color-box">
              <label>#F1A25C</label>
              <span style="background: #F1A25C"></span>
            </div>
            <div class="color-box">
              <label>#4FD268</label>
              <span style="background: #4FD268"></span>
            </div>
          </div>
        </div>
        <br>
        <h4>Greys</h4>
        <div class="row">
          <div class="col-12">
            <div class="color-box">
              <label>#1e1e1e</label>
              <span style="background: #1e1e1e">
                Inputs
              </span>
            </div>
            <div class="color-box">
              <label>#242424</label>
              <span style="background: #242424">
                Sub Nav bar <br>
                Table row <br>
                Card BG
              </span>
            </div>
            <div class="color-box">
              <label>#282828</label>
              <span style="background: #282828">
                Nav bar <br>
                Paper BG <br>
                Table BG
              </span>
            </div>
            <div class="color-box">
              <label>#2E2E2E</label>
              <span style="background: #2E2E2E">
                Image BG <br>
                Highlighting <br>
                Dropdown BG
              </span>
            </div>
            <div class="color-box">
              <label>#454545</label>
              <span style="background: #454545">
                Highlighting <br>
                Deviders <br>
                Borders
              </span>
            </div>
            <div class="color-box">
              <label>#7e7e7e</label>
              <span style="background: #7e7e7e">
                Icons <br>
                Text <br>
              </span>
            </div>
          </div>
        </div>
        <br>
        <br>
        <h4>Typography</h4>
        <div class="row">
          <div class="col-3">
            Font family:
          </div>
          <div class="col-9">
            <b>Proxima Nova</b>
          </div>
        </div>
        <div class="row font-styles">
          <div class="col-3">
            Font styles:
          </div>
          <div class="col-9">
            <span>Light</span>
            <span>Regular</span>
            <span>SemiBold</span>
            <span>Bold</span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Line height: 
          </div>
          <div class="col-9">
            <span>H1: 40px</span>
            <span>H2: 30px</span>
            <span>H3, H4: 20px</span>
            <span>H5 15px</span>
            <span>Body text: 21px</span>
          </div>
        </div>
        <div class="row letter-spacing">
          <div class="col-3">
            Letter spacing: 
          </div>
          <div class="col-9">
            <span>1px</span> <span>(Usage: H1, H2, Title, Subheading, Button Text</span><br>
            <span>0.5px</span> <span>(Usage: H3, Body1, Body2)</span><br>
            <span>0.3px</span> <span>(Usage: H4, H5, Text links, Caption text, Placeholders, Input Options)</span>
          </div>
        </div>
        <br>
        <div class="row font-sizes">
          <div class="col-4">
            <label>Heading</label>
            <h1>h1. Heading (32px)</h1>
            <h2>h2. Heading (24px)</h2>
            <h3>h3. Heading (16px)</h3>
            <h4>h4. Heading (14px)</h4>
            <h5>h5. Heading (12px)</h5>
          </div>
          <div class="col-4">
            <label>Components</label>
            <h1>Headline</h1>
            <h2>Title</h2>
            <h3>Subheading</h3>
            <h4>h4. Heading (14px)</h4>
            <h5>h5. Heading (12px)</h5>
          </div>
          <div class="col-4">
            <label>Text colors</label>
            <div class="text-color">
              <span style="background-color: #DCBC65"></span>
              <p>Gold (Usage: Interaction)</p>
            </div>
            <div class="text-color">
              <span style="background-color: #ffffff"></span>
              <p>Dark (Usage: Heading, body text)</p>
            </div>
            <div class="text-color">
              <span style="background-color: #7e7e7e"></span>
              <p>Grey (Usage: Heading text)</p>
            </div>
            <div class="text-color">
              <span style="background-color: #4FD268"></span>
              <p>Green (Usage: Success text)</p>
            </div>
            <div class="text-color">
              <span style="background-color: #f1a25c"></span>
              <p>Orange (Usage: Warning text)</p>
            </div>
            <div class="text-color">
              <span style="background-color: #e95858"></span>
              <p>Red (Usage: Error text)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>