<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Tabs">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Tabs</h1>
                  <p class="body mb--8">Tabs created as an additional navigation tool.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img" src="./assets/img/tabs/tabs cover.png" alt="Contained inputs text">
                  </figure>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--48">Tabs anatomy</h3>
                  <h4 class="h4 mb--24">Big tabs</h4>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/tabs/tabs 1.png" alt="Contained inputs text">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/tabs/tabs 2.png" alt="Contained inputs text">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/tabs/tabs 3.png" alt="Contained inputs text">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/tabs/tabs 4.png" alt="Contained inputs text">
                  </figure>
                </div>
                <div class="col-12">
                  <tabset class="tabs tabs--large">
                    <tab heading="Tab 1">
                    </tab>
                    <tab heading="Tab 2">
                    </tab>
                    <tab heading="Tab 3">
                    </tab>
                  </tabset>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-6">
                  <h3 class="h3 mb--8">Small tabs</h3>
                  <p class="body mb--24">Uses the same CSS styles as big tabs</p>
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/tabs/tabs 5.png" alt="Contained inputs text">
                  </figure>
                  <tabset class="tabs">
                    <tab heading="Tab 1">
                    </tab>
                    <tab heading="Tab 2">
                    </tab>
                    <tab heading="Tab 3">
                    </tab>
                  </tabset>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Scrollable tabs</h3>
                  <p class="body mb--24">When we have limited space for tabs, and there are many tabs, you can add a horizontal
                    scroll bar.</p>
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/tabs/tabs 6.png" alt="Contained inputs text">
                    <figcaption class="img-wrap__captions captions mb--0 mt--4">All tab categories go under the arrows</figcaption>
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="tab-scroll-wrap tab-scroll-wrap--large">
                    <button class="tabs__btn-prev"><span class="icon icon--chevron-left"></span></button>
                    <button class="tabs__btn-next"><span class="icon icon--chevron-right"></span></button>
                    <tabset class="tabs tabs--large tabs--scroll">
                      <tab heading="Tab 1"></tab>
                      <tab heading="Tab 2"></tab>
                      <tab heading="Tab 3"></tab>
                    </tabset>
                  </div>
                </div>
                <div class="col-6">
                  <div class="tab-scroll-wrap">
                    <button class="tabs__btn-prev"><span class="icon icon--chevron-left"></span></button>
                    <button class="tabs__btn-next"><span class="icon icon--chevron-right"></span></button>
                    <tabset class="tabs tabs--scroll">
                      <tab heading="Tab 1"></tab>
                      <tab heading="Tab 2"></tab>
                      <tab heading="Tab 3"></tab>
                    </tabset>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Usage">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1">Usage</h1>
                  <p class="body">How to use our tabs</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6 mb--64">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/tabs/usage 1.png" alt="Contained inputs text">
                  </figure>
                  <p class="body">Do not use two lines for tab name</p>
                </div>
                <div class="col-6 mb--64">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/tabs/usage 2.png" alt="Contained inputs text">
                  </figure>
                  <p class="body">Do not use icons like a navigation in tabs</p>
                </div>
                <div class="col-6 mb--64">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/tabs/usage 3.png" alt="Contained inputs text">
                  </figure>
                  <p class="body">Do not scale font size if you have a long name. If no place for tab name, try to use
                    scrollable tabs</p>
                </div>
                <div class="col-6 mb--64">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/tabs/usage 4.png" alt="Contained inputs text">
                  </figure>
                  <p class="body">Do not use tabs with icons</p>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>