<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Contained">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Contained Buttons</h1>
                  <p class="body mb--0">Contained buttons using as a primary actions on the page or in the component</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--48">Large Button</h3>
                  <h4 class="h4 mb--8">Icon + Text</h4>
                  <p class="body mb--24">Button with an icon using for a more clear understanding of action. But use it only
                    for actions which user can associate an icon with the button name</p>
                </div>
              </div>
              <div class="row mb--24">
                <div class="col-6">
                  <figure class="img-wrap mb-0">
                    <img class="img-wrap__img" src="./assets/img/buttons/contained/Contained 1.png"
                      alt="contained icon buttons large">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb-0">
                    <img class="img-wrap__img" src="./assets/img/buttons/contained/Contained 2.png"
                      alt="contained icon buttons large">
                  </figure>
                </div>
              </div>
              <div class="row mb--64">
                <div class="col-6">
                  <button class="button button--large button--contained"><span
                    class="button__icon icon icon--shapes icon--size-16px"></span>text</button>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h4 class="h4 mb--8">Text</h4>
                  <p class="body mb--24">Buttons with text using everywhere where in design.</p>
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/contained/Contained 3.png"
                      alt="contained text buttons large">
                  </figure>
                  <button class="button button--large button--contained">text</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Medium Button</h3>
                  <p class="body mb--48">Medium buttons have a smaller font size and smaller height. Other parameters are the
                    same</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="h4 mb--16">Icon + Text</h4>
                </div>
              </div>
              <div class="row mb--64">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/contained/Contained 4.png" alt="contained icon buttons medium">
                  </figure>
                  <button class="button button--medium button--contained"><span
                      class="button__icon icon icon--shapes icon--size-16px"></span>text</button>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img" src="./assets/img/buttons/contained/Contained 5.png" alt="contained icon buttons medium">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h4 class="h4 mb--16">Text</h4>
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/contained/Contained 6.png" alt="contained text buttons medium">
                  </figure>
                  <button class="button button--medium button--contained">text</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Small Button</h3>
                  <p class="body mb--24">It has a very small size and is used in very rare cases.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/contained/Contained 7.png" alt="contained text buttons small">
                  </figure>
                  <button class="button button--small button--contained">text</button>
                </div>
                <div class="col-6">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/buttons/contained/Contained 8.png" alt="contained text buttons small">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h4 class="h4 mb--16">Error button</h4>
                </div>
              </div>
              <div class="row mb--64">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/ghost/Ghost 3.png" alt="ghost buttons text">
                  </figure>
                  <button class="button button--contained button--medium button--error">button</button>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/ghost/Ghost 3.png" alt="ghost buttons text">
                  </figure>
                  <button class="button button--contained button--medium button--error"><span
                    class="button__icon icon icon--shapes icon--size-16px"></span>button</button>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Outlined">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Outlined Buttons</h1>
                  <p class="body mb--0">Outlined buttons using as a secondary actions on the page or in the component</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--48">Large Button</h3>
                  <h4 class="h4 mb--8">Icon + Text</h4>
                  <p class="body mb--24">Button with an icon using for a more clear understanding of action. But use it only
                    for actions which user can associate an icon with the button name</p>
                </div>
              </div>
              <div class="row mb--24">
                <div class="col-6">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img" src="./assets/img/buttons/outlined/Outlined 1.png"
                      alt="Outlined large icon buttons">
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img" src="./assets/img/buttons/outlined/Outlined 2.png"
                      alt="Outlined large icon buttons">
                  </figure>
                </div>
              </div>
              <div class="row mb--64">
                <div class="col-6">
                  <button class="button button--large button--outlined"><span
                    class="button__icon icon icon--shapes icon--size-16px"></span>text</button>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h4 class="h4 mb--8">Text</h4>
                  <p class="body mb--24">Buttons with text using everywhere where in design.</p>
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/outlined/Outlined 3.png"
                      alt="Outlined large text buttons">
                  </figure>
                  <button class="button button--large button--outlined">text</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Medium Button</h3>
                  <p class="body mb--48">Medium buttons have a smaller font size and smaller height. Other parameters are the same</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="h4 mb--16">Icon + Text</h4>
                </div>
              </div>
              <div class="row mb--64">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/outlined/Outlined 4.png" alt="Outlined medium buttons">
                  </figure>
                  <button class="button button--medium button--outlined"><span
                      class="button__icon icon icon--shapes icon--size-16px"></span>text</button>
                </div>
                <div class="col-6">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/buttons/outlined/Outlined 5.png" alt="Outlined medium buttons">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h4 class="h4 mb--16">Text</h4>
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/outlined/Outlined 6.png" alt="Outlined medium text buttons">
                  </figure>
                  <button class="button button--medium button--outlined">text</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--16">Small Button</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/outlined/Outlined 7.png" alt="Outlined small buttons">
                  </figure>
                  <button class="button button--small button--outlined">text</button>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/outlined/Outlined 8.png" alt="Outlined small buttons">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h4 class="h4 mb--16">Error button</h4>
                </div>
              </div>
              <div class="row mb--64">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/ghost/Ghost 3.png" alt="ghost buttons text">
                  </figure>
                  <button class="button button--outlined button--medium button--error">button</button>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/ghost/Ghost 3.png" alt="ghost buttons text">
                  </figure>
                  <button class="button button--outlined button--medium button--error"><span
                    class="button__icon icon icon--shapes icon--size-16px"></span>button</button>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Ghost">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Ghost Buttons</h1>
                  <p class="body mb--0">Ghost buttons using as a secondary actions on the page or in the component</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h4 class="h4 mb--8">Icon + Text</h4>
                  <p class="body mb--24">Ghost button is a more usable button in UI. And can be used in all places</p>
                </div>
              </div>
              <div class="row mb--64">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/ghost/Ghost 1.png" alt="ghost buttons icon + text">
                  </figure>
                  <button class="button button--ghost button--medium"><span
                      class="button__icon icon icon--shapes icon--size-16px"></span>text</button>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/ghost/Ghost 2.png" alt="ghost buttons icon + text">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h4 class="h4 mb--16">Only text</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/ghost/Ghost 3.png" alt="ghost buttons text">
                  </figure>
                  <button class="button button--ghost button--medium">button</button>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/ghost/Ghost 4.png" alt="ghost buttons text">
                  </figure>
                  <button class="button button--ghost button--small">button</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h4 class="h4 mb--16">Error button</h4>
                </div>
              </div>
              <div class="row mb--64">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/ghost/Ghost 3.png" alt="ghost buttons text">
                  </figure>
                  <button class="button button--ghost button--medium button--error">button</button>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/buttons/ghost/Ghost 3.png" alt="ghost buttons text">
                  </figure>
                  <button class="button button--ghost button--medium button--error"><span
                    class="button__icon icon icon--shapes icon--size-16px"></span>button</button>
                </div>
              </div>
              <div class="row mb--64">
                <div class="col-6">
                    <button class="button button--ghost button--medium button--gray"><span
                      class="button__icon icon icon--shapes icon--size-16px"></span>button</button>
                </div>
                <div class="col-6">
                    <button class="button button--ghost button--medium button--gray">button</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4 class="h4 mb--24">Filters list</h4>
                  <div class="filter-list">
                    <button class="filter-list__button filter-list__button--active button button--ghost button--medium">all</button>
                    <button class="filter-list__button button button--ghost button--medium">week</button>
                    <button class="filter-list__button button button--ghost button--medium">month</button>
                    <button class="filter-list__button button button--ghost button--medium">quarter</button>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>