<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Dialogs">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Dialogs</h1>
                  <p class="body mb--48">Dialogs create for the situations which require human interaction. This can be
                    tasks,
                    forms, important information, required data from user etc.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img mb--8" src="./assets/img/dialogs/dialogs/dialogs-1.png"
                      alt="Example of informational dialog">
                    <figcaption class="img-wrap__captions captions">Example of informational dialog</figcaption>
                  </figure>
                  <div class="modal-wrap modal-wrap--medium">
                    <div class="modal-wrap__body">
                      <h3 class="modal-wrap__title">Dialog Name</h3>
                      <p class="modal-wrap__p">Type you’re message here</p>
                    </div>
                    <div class="modal-wrap__footer">
                      <button class="modal-wrap__button button button--ghost button--medium">cancel</button>
                      <button class="modal-wrap__button button button--medium button--contained">delete</button>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--48">Anatomy</h3>
                  <p class="body mb--8">Type of dialog window for the forms, data inputs and etc.</p>
                </div>
                <div class="col-12 mb--64">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-2.png"
                      alt="Type of dialog window for the forms, data inputs and etc.">
                  </figure>
                  <div class="modal-wrap modal-wrap--tabs modal-wrap--medium">
                    <div class="modal-wrap__header">
                      <h3 class="modal-wrap__title">Dialog Name</h3>
                      <div class="modal-wrap__icon icon icon--dynamic">
                        <img class="icon__common" src="/assets/img/icons-actual/nav/ic-close.svg" alt="">
                      </div>
                    </div>
                    <div class="modal-wrap__body">
                      <tabset class="tabs tabs--large">
                        <tab heading="Tab 1">
                          <p class="modal-wrap__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                            animi, hic cum at sequi alias! Explicabo ex deleniti, quam possimus, ut voluptas facere
                            velit deserunt iste reiciendis incidunt, doloremque dolorum.</p>
                          <p class="modal-wrap__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                            animi, hic cum at sequi alias! Explicabo ex deleniti, quam possimus, ut voluptas facere
                            velit deserunt iste reiciendis incidunt, doloremque dolorum.</p>
                          <p class="modal-wrap__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                            animi, hic cum at sequi alias! Explicabo ex deleniti, quam possimus, ut voluptas facere
                            velit deserunt iste reiciendis incidunt, doloremque dolorum.</p>
                          <p class="modal-wrap__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                            animi, hic cum at sequi alias! Explicabo ex deleniti, quam possimus, ut voluptas facere
                            velit deserunt iste reiciendis incidunt, doloremque dolorum.</p>
                          <p class="modal-wrap__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                            animi, hic cum at sequi alias! Explicabo ex deleniti, quam possimus, ut voluptas facere
                            velit deserunt iste reiciendis incidunt, doloremque dolorum.</p>
                          <p class="modal-wrap__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                            animi, hic cum at sequi alias! Explicabo ex deleniti, quam possimus, ut voluptas facere
                            velit deserunt iste reiciendis incidunt, doloremque dolorum.</p>
                          <p class="modal-wrap__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                            animi, hic cum at sequi alias! Explicabo ex deleniti, quam possimus, ut voluptas facere
                            velit deserunt iste reiciendis incidunt, doloremque dolorum.</p>
                          <p class="modal-wrap__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum
                            animi, hic cum at sequi alias! Explicabo ex deleniti, quam possimus, ut voluptas facere
                            velit deserunt iste reiciendis incidunt, doloremque dolorum.</p>
                        </tab>
                        <tab heading="Tab 2">
                        </tab>
                        <tab heading="Tab 3">
                        </tab>
                      </tabset>
                    </div>
                    <div class="modal-wrap__footer">
                      <button class="modal-wrap__button button button--ghost button--medium">cancel</button>
                      <button class="modal-wrap__button button button--medium button--contained">delete</button>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="body mb--8">Type of dialog window for confirmation requests or information view</p>
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-3.png"
                      alt="Type of dialog window for confirmation requests or information view">
                  </figure>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Header Types</h3>
                  <p class="body mb--64">We have two header types to cover all possible scenarios</p>
                  <h4 class="h4 mb--8">Header</h4>
                </div>
              </div>
              <div class="row mb--64">
                <div class="col-12">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-4.png"
                      alt="Header without Actions">
                  </figure>
                  <div class="modal-wrap modal-wrap--medium">
                    <div class="modal-wrap__header">
                      <h3 class="modal-wrap__title">Dialog Name</h3>
                      <div class="modal-wrap__icon icon icon--close icon--dynamic"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Header + Actions</h3>
                  <p class="body mb--8">Actions can include a maximum of 3 additional icons without “close icon”.</p>
                  <p class="body mb--24">If you need to place more actions than 3 – you place icon “more” in the last
                    slot
                    (near close icon) and place options that don’t fit in the Menu</p>
                </div>
                <div class="col-12 mb--64">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-5.png" alt="Header + Actions">
                  </figure>
                  <div class="modal-wrap modal-wrap--medium">
                    <div class="modal-wrap__header">
                      <h3 class="modal-wrap__title">Dialog Name</h3>
                      <div class="modal-wrap__icon icon icon--dynamic">
                        <img class="icon__common" src="/assets/img/icons-actual/info/ic-shapes.svg" alt="">
                      </div>
                      <div class="modal-wrap__icon icon icon--dynamic">
                        <img class="icon__common" src="/assets/img/icons-actual/info/ic-shapes.svg" alt="">
                      </div>
                      <div class="modal-wrap__icon icon icon--dynamic">
                        <img class="icon__common" src="/assets/img/icons-actual/info/ic-shapes.svg" alt="">
                      </div>
                      <div class="modal-wrap__icon icon icon--dynamic">
                        <img class="icon__common" src="/assets/img/icons-actual/nav/ic-close.svg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 mb--8">
                  <p class="body">Example of header with more than 3 options</p>
                </div>
                <div class="col-12 mb--64">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-6.png"
                      alt="Example of header with more than 3 options">
                  </figure>
                  <div class="modal-wrap modal-wrap--medium">
                    <div class="modal-wrap__header">
                      <h3 class="modal-wrap__title">Dialog Name</h3>
                      <div class="modal-wrap__icon icon icon--dynamic">
                        <img class="icon__common" src="/assets/img/icons-actual/info/ic-shapes.svg" alt="">
                      </div>
                      <div class="modal-wrap__icon icon icon--dynamic">
                        <img class="icon__common" src="/assets/img/icons-actual/info/ic-shapes.svg" alt="">
                      </div>
                      <div class="dropdown-wrap dropdown-wrap--outlined dropdown-wrap--small"
                        [class.dropdownOpen]="filledSelect" [class.dropdownChoise]="dropdownChoise">
                        <ngx-select-dropdown tabindex="0" [class.dropdownOpen]="filledSelect"
                          (open)="filledSelect = true" (close)="filledSelect = false" (focusout)="filledSelect = false"
                          (open)="dropdownLabelUp = true" (close)="dropdownLabelUp = dropdownLabelUp"
                          (focusout)="dropdownLabelUp = false" [multiple]="false" [(ngModel)]="multiSelect"
                          [config]="config" [options]="optionsDropdown" (change)="isDropdownChoise($event)">
                        </ngx-select-dropdown>
                      </div>
                      <div class="modal-wrap__icon icon icon--dynamic">
                        <img class="icon__common" src="/assets/img/icons-actual/nav/ic-close.svg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb--64">
                  <div class="col-6">
                    <h3 class="h3 mb--8">Body</h3>
                  </div>
                  <div class="col-12">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-7.png" alt="Body dialog">
                    </figure>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h3 class="h3 mb--8">Footer</h3>
                    <p class="body mb--24">In the footer, we can use 3 actions in total. Filled button using as a
                      primary action. And two
                      other buttons using as a Secondary action.</p>
                    <p class="body mb--48">Usual in the right side of the footer we place action buttons such as a
                      Confirm and Cancel. The
                      third button on the left side can be used for a specific action as removing or some advance
                      options.</p>
                  </div>
                  <div class="col-12">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-8.png" alt="Footer dialog">
                    </figure>
                    <div class="modal-wrap modal-wrap--tabs modal-wrap--medium">
                      <div class="modal-wrap__footer">
                        <button class="modal-wrap__button button button--ghost button--medium">Action 3</button>
                        <button class="modal-wrap__button button button--ghost button--medium">cancel</button>
                        <button class="modal-wrap__button button button--medium button--contained">delete</button>
                      </div>
                    </div>
                    <hr class="divider">
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h3 class="h3 mb--24">Confirmation Dialog</h3>
                  </div>
                  <div class="col-12">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-9.png"
                        alt="Confirmation Dialog">
                    </figure>
                    <div class="modal-wrap modal-wrap--medium">
                      <div class="modal-wrap__body">
                        <h3 class="modal-wrap__title">Dialog Name</h3>
                        <p class="modal-wrap__p">Type you’re message here</p>
                      </div>
                      <div class="modal-wrap__footer">
                        <button class="modal-wrap__button button button--ghost button--medium">cancel</button>
                        <button class="modal-wrap__button button button--medium button--contained">delete</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <hr class="divider">
                  </div>
                  <div class="col-6">
                    <h3 class="h3 mb--24">Dialog sizes</h3>
                    <p class="body mb--24">Inside the design system, we got 3 different sizes of the dialog window. It’s
                      created for the possibility to view a different type of content.
                      Such as a calendar, task information and etc.</p>
                    <p class="body mb--48">For example: <br>A calendar does not require a wide window because of this UI
                      component so small what in total we have a many empty spaces wich not used. And it's not good
                      enough for visual perception of the window</p>
                  </div>
                  <div class="col-12">
                    <figure class="img-wrap mb--64">
                      <img class="img-wrap__img mb--8" src="./assets/img/dialogs/dialogs/dialogs-9.png"
                        alt="3 sizes of dialog window">
                      <p class="captions">For solving this problem we create 3 sizes of dialog window</p>
                    </figure>
                    <figure class="img-wrap mb--8">
                      <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-9.png"
                        alt="Dialog size: S">
                    </figure>
                    <div class="modal-wrap modal-wrap--small mb--24">
                        <div class="modal-wrap__body">
                          <h3 class="modal-wrap__title">Dialog Name</h3>
                          <p class="modal-wrap__p">Type you’re message here</p>
                        </div>
                        <div class="modal-wrap__footer">
                          <button class="modal-wrap__button button button--ghost button--medium">cancel</button>
                          <button class="modal-wrap__button button button--medium button--contained">delete</button>
                        </div>
                      </div>
                    <figure class="img-wrap mb--8">
                      <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-9.png"
                        alt="Dialog size: M">
                    </figure>
                    <div class="modal-wrap modal-wrap--medium mb--24">
                        <div class="modal-wrap__body">
                          <h3 class="modal-wrap__title">Dialog Name</h3>
                          <p class="modal-wrap__p">Type you’re message here</p>
                        </div>
                        <div class="modal-wrap__footer">
                          <button class="modal-wrap__button button button--ghost button--medium">cancel</button>
                          <button class="modal-wrap__button button button--medium button--contained">delete</button>
                        </div>
                      </div>
                    <figure class="img-wrap mb--8">
                      <img class="img-wrap__img" src="./assets/img/dialogs/dialogs/dialogs-9.png"
                        alt="Dialog size: L">
                    </figure>
                    <div class="modal-wrap modal-wrap--large">
                        <div class="modal-wrap__body">
                          <h3 class="modal-wrap__title">Dialog Name</h3>
                          <p class="modal-wrap__p">Type you’re message here</p>
                        </div>
                        <div class="modal-wrap__footer">
                          <button class="modal-wrap__button button button--ghost button--medium">cancel</button>
                          <button class="modal-wrap__button button button--medium button--contained">delete</button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Usage">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Usage</h1>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-6">
                  <p class="body mb--24">A dialog appears upper of all elements on a page. Below we place an overlay
                    background
                    with a $coal-gray color which have 80% of opacity.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/dialogs/Usage/dialogs-usage-1.png"
                      alt="
                    A dialog appears upper of all elements on a page. Below we place an overlay background with a $coal-gray color which have 80% of opacity.">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="body mb--24">If scrolling is required – the lightbox title is pinned at the top, with
                    buttons
                    pinned at the bottom. Alwais use lightbox for dialogs that scroll.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/dialogs/Usage/dialogs-usage-2.png"
                      alt="If scrolling is required – the lightbox title is pinned at the top, with buttons pinned at the bottom. Alwais use lightbox for dialogs that scroll.">
                  </figure>
                  <div class="col-12 mb--96">
                    <div class="modal-wrap modal-wrap--medium">
                      <div class="modal-wrap__header">
                        <h3 class="modal-wrap__title">Dialog Name</h3>
                        <div class="modal-wrap__icon icon icon--dynamic">
                          <img class="icon__common" src="/assets/img/icons-actual/nav/ic-close.svg" alt="">
                        </div>
                      </div>
                      <div class="modal-wrap__body">
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, perspiciatis!</P>
                      </div>
                      <div class="modal-wrap__footer">
                        <button class="modal-wrap__button button button--ghost button--medium">cancel</button>
                        <button class="modal-wrap__button button button--medium button--contained">delete</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <p class="body mb--24">Don’t provide a single action, as it’s unclear how to dismiss the dialog.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img" src="./assets/img/dialogs/Usage/dialogs-usage-3.png"
                      alt="Don’t provide a single action, as it’s unclear how to dismiss the dialog.">
                  </figure>
                </div>
                <div class="col-6">
                  <p class="body mb--24">Do not use the scroll bar in the confirmation dialog.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img" src="./assets/img/dialogs/Usage/dialogs-usage-4.png"
                      alt="Do not use the scroll bar in the confirmation dialog.">
                  </figure>
                </div>
                <div class="col-6">
                  <p class="body mb--24">All messages should be short and clear.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img" src="./assets/img/dialogs/Usage/dialogs-usage-5.png"
                      alt="All messages should be short and clear.">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Usage</h3>
                  <p class="body mb--16">The toolbar was created especially for dialog windows</p>
                  <p class="body mb--16">If you need to place many actions in a dialog window – you can use a Toolbar
                  </p>
                  <p class="body mb--24">The toolbar contains many slots for the actions. If there are more than 5
                    actions –
                    you should place other options in a dropdown menu.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/dialogs/Usage/dialogs-usage-6.png" alt="Usage dialog">
                  </figure>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>