<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Avatars">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Avatars</h1>
                  <p class="body mb--0">We standardize images size for user avatar and here some rules for how to use an
                    avatar and
                    which sizes</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--32">Avatars with photo/image</h3>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-5">
                  <div class="sizes-table">
                    <div class="sizes-table__row">
                      <p class="captions">Containers</p>
                      <p class="captions">Size</p>
                      <p class="captions">@mixin</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--96"><img class="avatar__image" src="/assets/img/avatar.jpg"
                          alt="Avatars with photo/image">
                      </div>
                      <p>96x96</p>
                      <p>$96-avt</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--64"><img class="avatar__image" src="/assets/img/avatar.jpg"
                          alt="Avatars with photo/image">
                      </div>
                      <p>64x64</p>
                      <p>$64-avt</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--48"><img class="avatar__image" src="/assets/img/avatar.jpg"
                          alt="Avatars with photo/image">
                      </div>
                      <p>48x48</p>
                      <p>$48-avt</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--40"><img class="avatar__image" src="/assets/img/avatar.jpg"
                          alt="Avatars with photo/image">
                      </div>
                      <p>40x40</p>
                      <p>$40-avt</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--32"><img class="avatar__image" src="/assets/img/avatar.jpg"
                          alt="Avatars with photo/image">
                      </div>
                      <p>32x32</p>
                      <p>$32-avt</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--24"><img class="avatar__image" src="/assets/img/avatar.jpg"
                          alt="Avatars with photo/image">
                      </div>
                      <p>24x24</p>
                      <p>$24-avt</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--16"><img class="avatar__image" src="/assets/img/avatar.jpg"
                          alt="Avatars with photo/image">
                      </div>
                      <p>16x16</p>
                      <p>$16-avt</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 offset-1">
                  <p class="body mb--24">We standartize images size for user avatar and it means that designers and
                    developers need to use only this sizes.</p>
                  <p class="body">Do not create custom sizes</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--24">Avatars without photo</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="sizes-table">
                    <div class=" sizes-table__row">
                      <p class="body">Containers</p>
                      <p class="body">Size</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--96">GG</div>
                      <p>96x96</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--64">GG</div>
                      <p>64x64</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--48">GG</div>
                      <p>48x48</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--40">GG</div>
                      <p>40x40</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--32">GG</div>
                      <p>32x32</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--24">GG</div>
                      <p>24x24</p>
                    </div>
                    <div class="sizes-table__row">
                      <div class="avatar avatar--16">GG</div>
                      <p>16x16</p>
                    </div>
                  </div>
                </div>
                <div class="col-6 offset-1">
                  <p class="body">If a user does not upload image for the profile avatar - we show colored background in
                    a
                    circle with the first characters of the First name and Last name</p>
                  <p class="body">For the background color we can use all our “Additional colors”</p>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>