<div class="card">
  <div class="card-body">
    <tabset>
      <tab heading="Desktop">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="h1 mb--24">Desktop Grid</h1>
              <p class="body mb--48">Guideline for how to use layout grids for different devices</p>
              <figure class="img-wrap mb--0">
                <img class="img-wrap__img mb--8" src="./assets/img/grids/desktop/grids-desktop-1.png" alt="Desktop Grid">
                <figcaption class="img-wrap__captions captions mb--0">It’s not an original size of grid</figcaption>
              </figure>
              <hr class="divider">
              <h2 class="h2 mb--48">Standart Grid</h2>
              <ul class="grid-info mb--96 pl--0">
                <li><span class="captions grid-info__captions">Min. Screen Width</span>1440 px</li>
                <li><span class="captions grid-info__captions">Grid Width</span>1224px</li>
                <li><span class="captions grid-info__captions">Gutter Width</span>24 px</li>
                <li><span class="captions grid-info__captions">Column Width</span>80 px</li>
                <li><span class="captions grid-info__captions">Number of Columns</span>12</li>
              </ul>
              <h2 class="h2 mb--48">Responsive Grid</h2>
              <div class="video-block">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rKbOTKskH7Q" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
                <p class="body mb--24">When we need to add sidebar navigation. We should move our workspace and try to not
                  change the
                  workspace size.</p>
                <p class="body mb--0">When we add side navigation the grid-wide have a responsive size. The left sidebar
                  move the grid
                  to right or left from the center of the screen</p>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Tablet">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="h1 mb--24">Tablet Grid</h1>
              <p class="body mb--48">Guideline for how to use layout grids for different devices</p>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <figure class="img-wrap mb--0">
                <img class="img-wrap__img mb--8" src="./assets/img/grids/tablet/grids-tablet-1.png" alt="Tablet Grid">
                <figcaption class="img-wrap__captions captions mb--0">Original size of the grid</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr class="divider">
              <ul class="grid-info pl--0">
                <li><span class="captions grid-info__captions">Min. Screen Width</span>768 px</li>
                <li><span class="captions grid-info__captions">Grid Width</span>680 px</li>
                <li><span class="captions grid-info__captions">Gutter Width</span>24 px</li>
                <li><span class="captions grid-info__captions">Column Width</span>64 px</li>
                <li><span class="captions grid-info__captions">Number of Columns</span>8</li>
              </ul>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Mobile">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="h1 mb-24">Mobile Grid</h1>
              <p class="body mb--48">Guideline for how to use layout grids for different devices</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <figure class="img-wrap mb--0">
                <img class="img-wrap__img mb--8" src="./assets/img/grids/mobile/grids-mobile-1.png" alt="Mobile Grid">
                <figcaption class="img-wrap__captions captions mb--0">Original size of the grid</figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <hr class="divider">
              <ul class="grid-info pl--0">
                <li><span class="captions grid-info__captions">Min. Screen Width</span>320 px</li>
                <li><span class="captions grid-info__captions">Grid Width</span>288 px</li>
                <li><span class="captions grid-info__captions">Gutter Width</span>16 px</li>
                <li><span class="captions grid-info__captions">Column Width</span>60 px</li>
                <li><span class="captions grid-info__captions">Number of Columns</span>4</li>
              </ul>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>