<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Snackbars">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Snackbars</h1>
                  <p class="body mb--0">Snackbars provide brief messages about an operation. </p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 1.png"
                      alt="Snackbars provide brief messages about an operation.">
                  </figure>
                </div>
                <div class="col-6">
                  <p class="body mb--8">Snackbars without action dissapear after 3 sec. Snackbars with action dissapear after
                    7 sec, and always contains a cross for manual exit. Only one snackbar may be displayed at the time.
                    The recommended size is 344px. But if necessary, the snackbar can may be wider</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 1.png"
                      alt="Snackbars provide brief messages about an operation.">
                  </figure>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 1.png"
                      alt="Snackbars provide brief messages about an operation.">
                  </figure>
                  <div class="snackbar snackbar--actions mb--24">
                    8 photos saved to your Favorites
                    <div class="snackbar__btns">
                      <button class="snackbar__button button button--ghost button--small">button</button>
                    </div>
                  </div>
                  <div class="snackbar snackbar--actions">
                    8 photos saved to your Favorites
                    <div class="snackbar__btns">
                      <button class="snackbar__button button button--ghost button--small">button</button>
                      <button class="snackbar__close icon icon--close icon--size-16px"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="body mb--8">Snackbars should be brief, but contain complete message. Don’t need a point in the
                    end.</p>
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 1.png"
                      alt="Sliders can have icons on both ends of the bar that reflect a range of values.">
                  </figure>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-6">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 1.png"
                      alt="Sliders can have icons on both ends of the bar that reflect a range of values.">
                  </figure>
                  <div class="snackbar">Information updated</div>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-6">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 1.png"
                      alt="Sliders can have icons on both ends of the bar that reflect a range of values.">
                  </figure>
                </div>
                <div class="col-6">
                  <p class="body">Snackbar places in the left bottom corner of the page with bottom-padding and
                    left-padding in 24 px.</p>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-6">
                  <p class="body mb--8">If snackbar contains important information about connecting to the internet or server
                    errors, it is places at the top of page with top-padding in 120 px and center alignment.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 1.png"
                      alt="Sliders can have icons on both ends of the bar that reflect a range of values.">
                  </figure>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-6">
                  <p class="body mb--8">For desktop and tablet should use only one line of text in snackbars.</p>
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 1.png"
                      alt="Sliders can have icons on both ends of the bar that reflect a range of values.">
                  </figure>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-6">
                  <p class="body mb--8">Snackbars can contain loaders or icon provides system states.</p>
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 1.png"
                      alt="Sliders can have icons on both ends of the bar that reflect a range of values.">
                  </figure>
                  <div class="snackbar snackbar--actions mb--24">
                    <span class="snackbar__icon icon icon--update"></span>
                    8 photos saved to your Favorites
                    <div class="snackbar__btns">
                      <button class="snackbar__button button button--ghost button--small">button</button>
                      <button class="snackbar__close icon icon--close icon--size-16px"></button>
                    </div>
                  </div>
                  <div class="snackbar snackbar--actions mb--24">
                    <span class="snackbar__icon icon icon--tick"></span>
                    8 photos saved to your Favorites
                    <div class="snackbar__btns">
                      <button class="snackbar__button button button--ghost button--small">button</button>
                      <button class="snackbar__close icon icon--close icon--size-16px"></button>
                    </div>
                  </div>
                  <div class="snackbar snackbar--actions mb--24">
                    <span class="snackbar__icon icon icon--delete"></span>
                    8 photos saved to your Favorites
                    <div class="snackbar__btns">
                      <button class="snackbar__button button button--ghost button--small">button</button>
                      <button class="snackbar__close icon icon--close icon--size-16px"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="body mb--8">Don’t place images in snackbars.</p>
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 1.png"
                      alt="Sliders can have icons on both ends of the bar that reflect a range of values.">
                  </figure>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>