<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Selection Controls">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Selection Controls</h1>
                  <p class="body mb--8">Selection controls allow users to complete tasks that involve making choices such as
                    selecting
                    options, or switching settings on or off.</p>
                  <p class="body mb--0">Selection controls are found on screens that ask users to make decisions or declare
                    preferences
                    such as settings or dialogs.</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-12 mb-5">
                  <h3 class="h3 mb--48">Controls type</h3>
                </div>
                <div class="col-4 d-flex justify-content-center">
                  <div class="wrap-checkbox mb--16">
                    <div class="checkbox">
                      <input class="checkbox__input" type="checkbox" id="checkbox-1" tabindex="1">
                      <!-- label for checkbox -->
                      <!-- <label class="checkbox__label" for="checkbox-1">Default</label> -->
                    </div>
                  </div>
                  <div class="wrap-checkbox mb--16">
                    <div class="checkbox">
                      <input class="checkbox__input" type="checkbox" id="checkbox-2" tabindex="1" checked>
                    </div>
                  </div>
                  <div class="wrap-checkbox">
                    <div class="checkbox checkbox--minus">
                      <input class="checkbox__input" type="checkbox" id="checkbox-3" tabindex="1">
                      <!-- label for checkbox -->
                      <!-- <label class="checkbox__label" for="checkbox-1">Default</label> -->
                    </div>
                  </div>
                  <div class="wrap-checkbox">
                    <div class="checkbox checkbox--minus">
                      <input class="checkbox__input" type="checkbox" id="checkbox-3" tabindex="1" checked>
                      <!-- label for checkbox -->
                      <!-- <label class="checkbox__label" for="checkbox-1">Default</label> -->
                    </div>
                  </div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                  <div class="wrap-radio mb--16">
                    <div class="radio">
                      <input class="radio__input" name="radio-1" type="radio" tabindex="1">
                      <!-- label for radio -->
                      <!-- <label class="radio__label" for="radio-1">Default</label> -->
                    </div>
                  </div>
                  <div class="wrap-radio mb--16">
                    <div class="radio">
                      <input class="radio__input" name="radio-1" type="radio" tabindex="1">
                    </div>
                  </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                  <label class="switch mb--16">
                    <input class="switch__input" name="switchExample" type="checkbox" tabindex="1">
                    <span class="switch__toggle"></span>
                  </label>
                  <br>
                  <label class="switch mb--16">
                    <input class="switch__input" name="switchExample" type="checkbox" checked tabindex="1">
                    <span class="switch__toggle"></span>
                  </label>
                </div>
                <div class="col-4">
                  <h4 class="h4 mb--0">Checkboxes</h4>
                </div>
                <div class="col-4 mb--0">
                  <h4 class="h4">Radio buttons</h4>
                </div>
                <div class="col-4 mb--0">
                  <h4 class="h4">Switches</h4>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Checkboxes</h3>
                  <p class="body mb--8">A checkbox is a small interactive box that can be toggled by the user to indicate an
                    affirmative or negative choice.</p>
                  <p class="body mb--48">Or it can be used for multiple choice of options like in the polls</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img mb--8" src="./assets/img/Selection Controls/controls-checkbox-1.png"
                      alt="Control size">
                    <figcaption class="img-wrap__captions captions">Control size</figcaption>
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img mb--8" src="./assets/img/Selection Controls/controls-checkbox-2.png"
                      alt="Active zone for interact">
                    <figcaption class="img-wrap__captions captions">Active zone for interact</figcaption>
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img mb--8" src="./assets/img/Selection Controls/controls-checkbox-3.png"
                      alt="Multiple choice">
                    <figcaption class="img-wrap__captions captions">Multiple choice</figcaption>
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-6">
                  <h3 class="h3 mb--8">Radio buttons</h3>
                  <p class="body mb--48">A radio button is a control element that allows the user to choose only one of the
                    proposed option</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img mb--8" src="./assets/img/Selection Controls/controls-radiobuttons-1.png"
                      alt="Control size">
                    <figcaption class="img-wrap__captions captions">Control size</figcaption>
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img mb--8" src="./assets/img/Selection Controls/controls-radiobuttons-2.png"
                      alt="Active zone for interact">
                    <figcaption class="img-wrap__captions captions">Active zone for interact</figcaption>
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap mb--0">
                    <img class="img-wrap__img mb--8" src="./assets/img/Selection Controls/controls-radiobuttons-3.png"
                      alt="Multiple choice">
                    <figcaption class="img-wrap__captions captions">Multiple choice</figcaption>
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-6">
                  <h3 class="h3 mb--8">Switches</h3>
                  <p class="body mb--48">A toggle switch represents a physical switch that allows users to turn options on or
                    off.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img mb--8" src="./assets/img/Selection Controls/controls-switches-1.png"
                      alt="Control size">
                    <figcaption class="img-wrap__captions captions">Control size</figcaption>
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img mb--8" src="./assets/img/Selection Controls/controls-switches-2.png"
                      alt="Active zone for interact">
                    <figcaption class="img-wrap__captions captions">Active zone for interact</figcaption>
                  </figure>
                </div>
                <div class="col-6">
                  <figure class="img-wrap">
                    <img class="img-wrap__img mb--8" src="./assets/img/Selection Controls/controls-switches-3.png"
                      alt="Multiple choice">
                    <figcaption class="img-wrap__captions captions">Multiple choice</figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>