<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Links">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h1 class="h1 mb--24">Links</h1>
                  <p class="body mb--0">Links in UI is one of the most important elements. And we need to follow the rules for link usage</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <h3 class="h3 mb--64">Links usage</h3>
                </div>
                <div class="col-5">
                  <figure class="img-wrap  mb--48">
                    <img class="img-wrap__img" src="./assets/img/links/links1.png"
                      alt="Follow 8px margin between text and link if they’re placed on the one line">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body mb--16">Follow 8px margin between text and link if they’re placed on the one line</p>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <figure class="img-wrap mb--48">
                    <img class="img-wrap__img" src="./assets/img/links/links2.png"
                      alt="If not enough place for the link we can transfer it on the next line without additional margins">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body mb--16">If not enough place for the link we can transfer it on the next line without
                    additional margins
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <figure class="img-wrap mb--48">
                    <img class="img-wrap__img" src="./assets/img/links/links3.png"
                      alt="When link on hover - we need to underline them">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body mb--16">When link on hover - we need to underline them</p>
                </div>
              </div>
              <div class="row mb--128">
                <div class="col-5">
                  <figure class="img-wrap mb--48">
                    <img class="img-wrap__img" src="./assets/img/links/links4.png" alt="We can use links in context. For this usage, we do not need to follow margins in 8px between
                        text and link">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body mb--16">We can use links in context. For this usage, we do not need to follow margins in 8px between text and link</p>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <figure class="img-wrap mb--48">
                    <img class="img-wrap__img" src="./assets/img/links/links5.png"
                      alt="Do not transfer link on another line like on the example">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body mb--16">Do not transfer link on another line like on the example</p>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <figure class="img-wrap mb--96">
                    <img class="img-wrap__img" src="./assets/img/links/links6.png"
                      alt="Do not divide the link into two separate items.">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body mb--16">Do not divide the link into two separate items.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h3 class="h3 mb--64">Links usage</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <figure class="img-wrap mb--48">
                    <img class="img-wrap__img" src="./assets/img/links/links7.png"
                      alt="Use accent color for the active links">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body mb--16">Use accent color for the active links</p>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <figure class="img-wrap mb--48">
                    <img class="img-wrap__img" src="./assets/img/links/links8.png"
                      alt="Follow margins 24 px between links.">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body mb--16">Follow margins 24 px between links.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <figure class="img-wrap mb--48">
                    <img class="img-wrap__img" src="./assets/img/links/links9.png"
                      alt="Do not accent all links at one time.">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body mb--16">Do not accent all links at one time.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <figure class="img-wrap mb--48">
                    <img class="img-wrap__img" src="./assets/img/links/links10.png"
                      alt="Do not underline active links like a tab. It’s not a tabs.">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body mb--16">Do not underline active links like a tab. It’s not a tabs.</p>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>