<div class="typography-container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <tabset>
            <tab heading="Font Scale">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h1 class="h1 mb--24">Font Scale</h1>
                    <p class="body mb--0">Font scale is a most important thing in our platfrom. Right font scale grid is
                      a tool to create pure design.</p>
                  </div>
                  <div class="col-12">
                    <hr class="divider">
                  </div>
                  <div class="col-12">
                    <div class="font-scale-table">
                      <div class="font-scale-table__row">
                        <div class="captions">Type</div>
                        <div class="captions">Font Size</div>
                        <div class="captions">Line Height</div>
                        <div class="captions">Weight</div>
                        <div class="captions">Letter Spacing</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="h1">H1</div>
                        <div class="h1">Proxima 48</div>
                        <div class="h1">52</div>
                        <div class="h1">400</div>
                        <div class="h1">0</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="h2">H2</div>
                        <div class="h2">Proxima 32</div>
                        <div class="h2">40</div>
                        <div class="h2">400</div>
                        <div class="h2">0</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="h3">H3</div>
                        <div class="h3">Proxima 24</div>
                        <div class="h3">32</div>
                        <div class="h3">400</div>
                        <div class="h3">0</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="h4">H4</div>
                        <div class="h4">Proxima 18</div>
                        <div class="h4">28</div>
                        <div class="h4">400</div>
                        <div class="h4">0</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="subtitle">Subtitle</div>
                        <div class="subtitle">Proxima 16</div>
                        <div class="subtitle">24</div>
                        <div class="subtitle">400</div>
                        <div class="subtitle">0.1</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="body">Body</div>
                        <div class="body">Proxima 14</div>
                        <div class="body">20</div>
                        <div class="body">400</div>
                        <div class="body">0.2</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="links">Links</div>
                        <div class="links">Proxima 14</div>
                        <div class="links">20</div>
                        <div class="links">400</div>
                        <div class="links">0.2</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="button-l">Button L</div>
                        <div class="button-l">Proxima 14</div>
                        <div class="button-l">20</div>
                        <div class="button-l">600</div>
                        <div class="button-l">0.5</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="captions">Captions</div>
                        <div class="captions">Proxima 12</div>
                        <div class="captions">20</div>
                        <div class="captions">400</div>
                        <div class="captions">0.3</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="button-s-m">Button S/M</div>
                        <div class="button-s-m">Proxima 12</div>
                        <div class="button-s-m">20</div>
                        <div class="button-s-m">600</div>
                        <div class="button-s-m">0.5</div>
                      </div>
                      <div class="font-scale-table__row">
                        <div class="overline">Overline</div>
                        <div class="overline">Proxima 10</div>
                        <div class="overline">16</div>
                        <div class="overline">400</div>
                        <div class="overline">1.0</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Basic Understanding of Typography">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h1 class="h1 mb--24">Basic understanding of typography</h1>
                    <p class="body mb--0">We need to follow the most accessible solution for text readable. And we
                      created some rules which designers need to follow when creating a design.</p>
                  </div>
                  <div class="col-12">
                    <hr class="divider">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h3 class="h3 mb--48">Text line length</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <figure class="img-wrap mb--48">
                      <img class="img-wrap__img" src="./assets/img/typography/basic/Basic 1.png"
                        alt="Text line length in 3 col">
                    </figure>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <figure class="img-wrap mb--48">
                      <img class="img-wrap__img" src="./assets/img/typography/basic/Basic 2.png"
                        alt="Text line length in 5 col">
                    </figure>
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <figure class="img-wrap mb--48">
                      <img class="img-wrap__img" src="./assets/img/typography/basic/Basic 3.png"
                        alt="Text line length in 7 col">
                    </figure>
                  </div>
                </div>
                <div class="row">
                  <div class="col-10">
                    <figure class="img-wrap mb--48">
                      <img class="img-wrap__img" src="./assets/img/typography/basic/Basic 4.png"
                        alt="Text line length in 8 - 10 col">
                    </figure>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Font Usage">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h1 class="h1 mb--24">Font Usage</h1>
                    <p class="body mb--0">How to use text elements with each other. How to measure distance between
                      elements, etc.</p>
                  </div>
                  <div class="col-12">
                    <hr class="divider">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h2 class="h3 mb--48">Measuring distance between text elements</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <h5 class="subtitle mb--8">Title & Paragraph</h5>
                    <p class="body mb--24">Distance between “Heading” and “Description” should be 8px.</p>
                    <figure class="img-wrap">
                      <img class="img-wrap__img mb--8" src="./assets/img/typography/usage/Usage 1.png"
                        alt="Example of placing a Paragraph below the heading">
                      <p class="captions">Example of placing a Paragraph below the heading</p>
                    </figure>
                  </div>
                  <div class="col-5">
                    <h5 class="subtitle mb--8">Overline & Title</h5>
                    <p class="body mb--24">Distance between “Overline” and “Heading” should be 4px.</p>
                    <figure class="img-wrap mb--64">
                      <img class="img-wrap__img mb--8" src="./assets/img/typography/usage/Usage 2.png"
                        alt="Example of placing an OVERLINE above the heading">
                      <p class="captions">Example of placing an OVERLINE above the heading</p>
                    </figure>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <h5 class="subtitle mb--8">Overline/Caption & Paragraphs</h5>
                    <p class="body mb--24">Distance between “Overline/Caption” and “Paragraph” should be 4px.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <figure class="img-wrap mb--0">
                      <img class="img-wrap__img mb--8" src="./assets/img/typography/usage/Usage 3.png"
                        alt="Example of placing Overline with Description">
                      <p class="captions">Example of placing Overline with Description</p>
                    </figure>
                  </div>
                  <div class="col-5">
                    <figure class="img-wrap mb--0">
                      <img class="img-wrap__img mb--8" src="./assets/img/typography/usage/Usage 4.png"
                        alt="Example of placing Caption with Description">
                      <p class="captions">Example of placing Caption with Description</p>
                    </figure>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <hr class="divider">
                    <h3 class="h3 mb--32">Example of usage different text elements with each other</h3>
                  </div>
                  <div class="col-3">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/typography/usage/Usage 5.png"
                        alt="Example of usage different text elements with each other">
                    </figure>
                  </div>
                  <div class="col-3">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/typography/usage/Usage 6.png"
                        alt="Example of usage different text elements with each other">
                    </figure>
                  </div>
                  <div class="col-3">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/typography/usage/Usage 7.png"
                        alt="Example of usage different text elements with each other">
                    </figure>
                  </div>
                  <div class="col-3">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/typography/usage/Usage 8.png"
                        alt="Example of usage different text elements with each other">
                    </figure>
                  </div>
                  <div class="col-3">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/typography/usage/Usage 9.png"
                        alt="Example of usage different text elements with each other">
                    </figure>
                  </div>
                  <div class="col-3">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/typography/usage/Usage 10.png"
                        alt="Example of usage different text elements with each other">
                    </figure>
                  </div>
                  <div class="col-3">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/typography/usage/Usage 11.png"
                        alt="Example of usage different text elements with each other">
                    </figure>
                  </div>
                  <div class="col-3">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/typography/usage/Usage 12.png"
                        alt="Example of usage different text elements with each other">
                    </figure>
                  </div>
                  <div class="col-3">
                    <figure class="img-wrap mb--24">
                      <img class="img-wrap__img" src="./assets/img/typography/usage/Usage 13.png"
                        alt="Example of usage different text elements with each other">
                    </figure>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>