<div class="typography-container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <tabset>
            <tab heading="Spacings">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <h1 class="h1 mb--24">Spacings</h1>
                    <p class="body mb--8">The spacing system with Sass technology “@mixin” helps developers and
                      designers
                      create a perfect design measuring system and follow the pure design.</p>
                    <p class="body mb--0">This technology helps solve a problem with custom spacings as a 21px instead
                      of 24
                      or 29 instead of 32 etc.</p>
                  </div>
                  <div class="col-12">
                    <hr class="divider">
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <h3 class="h3 mb--24">Layout spacing system</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="sizes-table">
                      <div class="sizes-table__row">
                        <p class="captions">Containers</p>
                        <p class="captions">Size</p>
                        <p class="captions">@mixin</p>
                      </div>
                      <div class="sizes-table__row">
                        <div class="sizes-table__container container-128"></div>
                        <p>128px</p>
                        <p>$128sp</p>
                      </div>
                      <div class="sizes-table__row">
                        <div class="sizes-table__container container-96"></div>
                        <p>96px</p>
                        <p>$96sp</p>
                      </div>
                      <div class="sizes-table__row">
                        <div class="sizes-table__container container-64"></div>
                        <p>64px</p>
                        <p>$64sp</p>
                      </div>
                      <div class="sizes-table__row">
                        <div class="sizes-table__container container-56"></div>
                        <p>56px</p>
                        <p>$56sp</p>
                      </div>
                      <div class="sizes-table__row">
                        <div class="sizes-table__container container-48"></div>
                        <p>48px</p>
                        <p>$48sp</p>
                      </div>
                      <div class="sizes-table__row">
                        <div class="sizes-table__container container-32"></div>
                        <p>32px</p>
                        <p>$32sp</p>
                      </div>
                      <div class="sizes-table__row">
                        <div class="sizes-table__container container-24"></div>
                        <p>24px</p>
                        <p>$24sp</p>
                      </div>
                      <div class="sizes-table__row">
                        <div class="sizes-table__container container-16"></div>
                        <p>16px</p>
                        <p>$16sp</p>
                      </div>
                      <div class="sizes-table__row">
                        <div class="sizes-table__container container-8"></div>
                        <p>8px</p>
                        <p>$8sp</p>
                      </div>
                      <div class="sizes-table__row">
                        <div class="sizes-table__container container-4"></div>
                        <p>4px</p>
                        <p>$4sp</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 offset-1">
                    <p class="body mb--48">The spacing scale is used for arranging components and other UI parts into a
                      full
                      page layout.</p>
                    <figure class="img-wrap mb--32">
                      <img class="img-wrap__img" src="../assets/img/group-24.svg"
                        alt="The spacing scale is used for arranging components and other UI parts into a full page layout.">
                    </figure>
                    <div class="row">
                      <div class="col-8">
                        <figure class="img-wrap mb--48">
                          <img class="img-wrap__img" src="../assets/img/group-21.svg"
                            alt="The spacing scale is used for arranging components and other UI parts into a full page layout.">
                        </figure>
                      </div>
                      <div class="col-4">
                        <figure class="img-wrap mb--48">
                          <img class="img-wrap__img" src="../assets/img/group-22.svg"
                            alt="The spacing scale is used for arranging components and other UI parts into a full page layout.">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>