<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Anatomy & Responsive">
            <div class="container">
              <div class="row">
                <div class="col-6 mb-5">
                  <h1 class="h1 mb--24">Anatomy & Responsive</h1>
                  <p class="body mb--32">A banner displays an important succinct message. Banners are not modal and don't
                    interrupt the workflow.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap mb--16">
                    <img class="img-wrap__img" src="./assets/img/banners/anatomy page/anatomy-1.png" alt="Banner image">
                  </figure>
                  <div class="banner">
                    <div class="banner__content">
                      <span class="banner__icon icon icon--info"></span>
                      Your licence to expire. Please renew by <time>Octowber 12, 2020</time>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Anatomy</h3>
                  <p class="body mb--32">Banners pinned in the top of page under subheader or header (if subheader
                    absent).</p>
                  <p class="body mb--8">Protective padding, in which content can not go beyond its borders.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <figure class="img-wrap mb--64">
                    <img class="img-wrap__img" src="./assets/img/banners/anatomy page/anatomy-2.png"
                      alt="Anatomy banners">
                  </figure>
                </div>
                <div class="col-6">
                  <p class="body mb--8">Inner paddings and usage of elements style.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap mb--64">
                    <img class="img-wrap__img" src="./assets/img/banners/anatomy page/anatomy-3.png"
                      alt="Anatomy banners">
                  </figure>
                </div>
                <div class="col-6">
                  <p class="body mb--8">This content is always aligned in the center</p>
                </div>
                <div class="col-12 mb--96">
                  <figure class="img-wrap mb--16">
                    <img class="img-wrap__img" src="./assets/img/banners/anatomy page/anatomy-4.png"
                      alt="Anatomy banners">
                  </figure>
                  <div class="banner">
                    <div class="banner__content">
                      <span class="banner__icon icon icon--info"></span>
                      Your licence to expire. Please renew by <time>Octowber 12, 2020</time>
                      <button class="button button--ghost">action</button>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
                <div class="col-12">
                  <h3 class="h3 mb--8">Responsive</h3>
                </div>
                <div class="col-6">
                  <p class="body mb--24">Width of banner depends on the width of the page.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/banners/anatomy page/anatomy-5.png"
                      alt="Anatomy banners">
                  </figure>
                  <div class="banner banner--mob">
                    <div class="banner__content">
                      <span class="banner__icon icon icon--info"></span>
                      Your licence to expire. Please renew by <time>Octowbe...</time>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
                <div class="col-6">
                  <p class="body mb--24">When the browser screen is very small - we remove icon before text for receiving more
                    space and button “Learn more” goes into the info icon which we can click or tap for detail
                    information</p>
                  <p class="body mb--24">For the responsive of this component, we narrow the text area, and the button “info
                    icon“ appears after the text.</p>
                  <p class="body mb--24">Button “Info” opens or redirect us to dialog window or another page with detail
                    information.</p>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Usage">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Usage</h1>
                  <p class="body mb--0">Some rules for how to use banners in our design</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Information noise</h3>
                  <p class="body mb--48">In order not to disorient the user, we should not use 2 banners at one time. This
                    creates an additional burden on the user and distracts from the user's main task.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap mb--16">
                    <img class="img-wrap__img" src="./assets/img/banners/usage/usage-1.png" alt="Banner usage">
                  </figure>
                </div>
                <div class="col-12 mb--8">
                  <div class="banner">
                    <div class="banner__content">
                      <span class="banner__icon icon icon--info"></span>
                      Your licence to expire. Please renew by <time>Octowber 12, 2020</time>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
                <div class="col-12 mb--96">
                  <div class="banner">
                    <div class="banner__content">
                      <span class="banner__icon icon icon--info"></span>
                      Your licence to expire. Please renew by <time>Octowber 12, 2020</time>
                      <button class="button button--ghost">learn more</button>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Actions inside banners</h3>
                  <p class="body mb--48">Banners may contain links and buttons, but don’t use primary buttons in banners.</p>
                </div>
                <div class="col-12">
                  <p class="body mb--8">Text link inside context</p>
                  <div class="banner mb--48">
                    <div class="banner__content">A new version of the document is displayed. <a href=""> The old
                        version </a> of the document is saved automatically</div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
                <div class="col-12">
                  <p class="body mb--8">Banner with ghost button</p>
                  <div class="banner mb--48">
                    <div class="banner__content">
                      <span class="banner__icon icon icon--info"></span>
                      Your licence to expire. Please renew by <time>Octowber 12, 2020</time>
                      <button class="button button--ghost">learn more</button>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
                <div class="col-12">
                  <p class="body mb--8">Primary button in banner</p>
                  <div class="banner mb--48">
                    <div class="banner__content">
                      <span class="banner__icon icon icon--info"></span>
                      Your licence to expire. Please renew by <time>Octowber 12, 2020</time>
                      <button class="button button--contained">text</button>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
                <div class="col-12">
                  <p class="body mb--8">Two actions in banner</p>
                  <div class="banner mb--96">
                    <div class="banner__content">A new version of the document is displayed. <a href="">The old
                        version</a> of the document is saved automatically
                      <button class="button button--ghost">learn more</button>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Use right icons and messages</h3>
                  <p class="body mb--48">Use only icons that have strong meaning. Banners can’t contain images.</p>
                </div>
                <div class="col-12">
                  <div class="banner mb--48">
                    <div class="banner__content">
                      <span class="banner__icon icon icon--info"></span>
                      Your licence to expire. Please renew by <time>Octowber 12, 2020</time>
                      <button class="button button--ghost">learn more</button>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
                <div class="col-12">
                  <p class="body mb--8">Wrong usage of icon and context</p>
                  <div class="banner mb--48">
                    <div class="banner__content">
                      <span class="banner__icon icon icon--label"></span>
                      Your licence to expire.
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Important banners</h3>
                  <p class="body mb--24">Banners may have a red (error) or orange (warning) color, but only in a critical case.
                    Use the additional color only for the most important messages that may affect the user's work at
                    this moment.</p>
                  <p class="body mb--48">Do not use the banner if something has already occured. In this case, it is better to
                    use snackbars or alerts.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="body mb--8">Warning</p>
                  <div class="banner banner--warning mb--48">
                    <div class="banner__content">
                      <span class="banner__icon icon icon icon--info"></span>
                      Your licence to expire. Please renew by <time>Octowber 12, 2020</time>
                      <button class="button button--ghost">Action</button>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
                <div class="col-12">
                  <p class="body mb--8">Error</p>
                  <div class="banner banner--error mb--48">
                    <div class="banner__content">
                      <span class="banner__icon icon icon--info"></span>
                      Your licence to expire. Please renew by <time>Octowber 12, 2020</time>
                      <button class="button button--ghost">reconnetct</button>
                    </div>
                    <button class="banner__close icon icon--close"></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--8">Banners in a dialogs</h3>
                  <p class="body mb--16">If the information in the banner relates to a lightbox, it may be displayed at the top
                    of the lightbox.</p>
                  <p class="body mb--48">The banner doesn’t have a close button and is displayed until the problem or warning
                    is resolved.</p>
                </div>
                <div class="col-12">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/banners/usage/usage-10.png" alt="usage banner">
                  </figure>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>