<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Primary Colors">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Primary Colors</h1>
                  <p class="body mb--0">General colors which using for All UI elements, Links, Icons, etc.</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-6">
                  <h2 class="h2 mb--8">Accent Colors</h2>
                  <p class="body mb--48">Accent colors are most important colors in our design. This color help us
                    make
                    accent on UI elements like a Links, Button, or Active States</p>
                  <div class="color color--2column">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #DCBC65;"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$primary-gold-dt" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#DCBC65</span></p>
                        <p class="color__rgb body">R: <span class="color__value">220</span></p>
                        <p class="color__rgb body">G: <span class="color__value">180</span></p>
                        <p class="color__rgb body">B: <span class="color__value">101</span></p>
                      </div>
                    </div>
                    <div class="color__col">
                      <p class="body mb--24">Use this color for elements which need to highlight on Dark theme. </p>
                      <p class="body mb--24">In general we use it for Primary actions and for all links in our platform.
                      </p>
                      <p class="body">In some case this color using for icons or for showing activity states on
                        elements. </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-6">
                  <h2 class="h2 mb--64">Background Colors</h2>
                  <div class="color color--2column">
                    <div class="color__col">
                      <div class="color__circle color__circle--stroke" style="background-color: #1a1a1a;"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$base-black" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#1a1a1a</span></p>
                        <p class="color__rgb body">R: <span class="color__value">26</span></p>
                        <p class="color__rgb body">G: <span class="color__value">26</span></p>
                        <p class="color__rgb body">B: <span class="color__value">26</span></p>
                      </div>
                    </div>
                    <div class="color__col">
                      <p class="body  mb--24">This color used for Dark Theme background. Also this color used for text
                        on
                        Light theme.
                      </p>
                      <ul class="color__use-list">
                        <li class="color__use-item">All headings</li>
                        <li class="color__use-item">Body text</li>
                        <li class="color__use-item">Table data</li>
                        <li class="color__use-item">Inputs data</li>
                        <li class="color__use-item">Actions in dropdowns</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h2 class="h2 mb--8">UI Elements Color</h2>
                  <p class="body mb--48">Accent colors are most important colors in our design. This color help us make
                    accent on UI elements like a Links, Button, or Active States.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="color color--2column mb--96">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #1F1F1F;"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$coal-gray" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#1F1F1F</span></p>
                        <p class="color__rgb body">R: <span class="color__value">31</span></p>
                        <p class="color__rgb body">G: <span class="color__value">31</span></p>
                        <p class="color__rgb body">B: <span class="color__value">31</span></p>
                      </div>
                    </div>
                    <div class="color__col">
                      <ul class="color__use-list">
                        <li class="color__use-item">Table Grid</li>
                        <li class="color__use-item">Inputs Background</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="color color--2column mb--96">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #2B2B2B;"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$mineshaft-gray" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#2B2B2B</span></p>
                        <p class="color__rgb body">R: <span class="color__value">43</span></p>
                        <p class="color__rgb body">G: <span class="color__value">43</span></p>
                        <p class="color__rgb body">B: <span class="color__value">43</span></p>
                      </div>
                    </div>
                    <div class="color__col">
                      <ul class="color__use-list">
                        <li class="color__use-item">Header</li>
                        <li class="color__use-item">Subheader</li>
                        <li class="color__use-item">Containers</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="color color--2column mb--96">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #383838;"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$lightcoal-gray" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#383838</span></p>
                        <p class="color__rgb body">R: <span class="color__value">56</span></p>
                        <p class="color__rgb body">G: <span class="color__value">56</span></p>
                        <p class="color__rgb body">B: <span class="color__value">56</span></p>
                      </div>
                    </div>
                    <div class="color__col">
                      <p class="body mb--16">This color used for all overlays background</p>
                      <ul class="color__use-list">
                        <li class="color__use-item">Menus</li>
                        <li class="color__use-item">Hints</li>
                        <li class="color__use-item">Tooltips</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="color color--2column mb--96">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #454545;"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$tundora-gray" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#454545</span></p>
                        <p class="color__rgb body">R: <span class="color__value">69</span></p>
                        <p class="color__rgb body">G: <span class="color__value">69</span></p>
                        <p class="color__rgb body">B: <span class="color__value">69</span></p>
                      </div>
                    </div>
                    <div class="color__col">
                      <ul class="color__use-list">
                        <li class="color__use-item">Dividers</li>
                        <li class="color__use-item">Borders</li>
                        <li class="color__use-item">Active placeholders in input</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="color color--2column">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #7e7e7e;"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$base-gray" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#7e7e7e</span></p>
                        <p class="color__rgb body">R: <span class="color__value">126</span></p>
                        <p class="color__rgb body">G: <span class="color__value">126</span></p>
                        <p class="color__rgb body">B: <span class="color__value">126</span></p>
                      </div>
                    </div>
                    <div class="color__col">
                      <p class="body mb--16">This color used for all icons in our platform and also for text. For
                        text elements this color used in:</p>
                      <ul class="color__use-list">
                        <li class="color__use-item">Captions</li>
                        <li class="color__use-item">Overlines</li>
                        <li class="color__use-item">Lists</li>
                        <li class="color__use-item">Placeholders</li>
                        <li class="color__use-item">Selections (Default state)</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="color color--2column mb--96">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #ffffff"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$base-white" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#ffffff</span></p>
                        <p class="color__rgb body">R: <span class="color__value">256</span></p>
                        <p class="color__rgb body">G: <span class="color__value">256</span></p>
                        <p class="color__rgb body">B: <span class="color__value">256</span></p>
                      </div>
                    </div>
                    <div class="color__col">
                      <p class="body mb--16">For the dark theme - white color used for headings, body font.</p>
                      <ul class="color__use-list">
                        <li class="color__use-item">Body text color</li>
                        <li class="color__use-item">All headings</li>
                        <li class="color__use-item">Data in table</li>
                        <li class="color__use-item">Inputs data</li>
                        <li class="color__use-item">Actions in dropdowns</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Additional Colors">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Additional Colors</h1>
                  <p class="body mb--0">This colors can be used for any UI elements. Like a Charts, Chips, Labels etc.
                  </p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #E96058"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$base-red" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#E96058</span></p>
                        <p class="color__rgb body">R: <span class="color__value">233</span></p>
                        <p class="color__rgb body">G: <span class="color__value">96</span></p>
                        <p class="color__rgb body">B: <span class="color__value">88</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #ED9438"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$base-orange" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#ED9438</span></p>
                        <p class="color__rgb body">R: <span class="color__value">237</span></p>
                        <p class="color__rgb body">G: <span class="color__value">148</span></p>
                        <p class="color__rgb body">B: <span class="color__value">56</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #F5BA06"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$base-yellow" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#F5BA06</span></p>
                        <p class="color__rgb body">R: <span class="color__value">245</span></p>
                        <p class="color__rgb body">G: <span class="color__value">186</span></p>
                        <p class="color__rgb body">B: <span class="color__value">6</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #B1C82F"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$salad-green" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#B1C82F</span></p>
                        <p class="color__rgb body">R: <span class="color__value">177</span></p>
                        <p class="color__rgb body">G: <span class="color__value">200</span></p>
                        <p class="color__rgb body">B: <span class="color__value">47</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #67B231"></div>
                      <p class="color__var">$base-green<span
                          class="color__icon-copy icon icon--duplicate icon--size-16px"></span></p>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#67B231</span></p>
                        <p class="color__rgb body">R: <span class="color__value">103</span></p>
                        <p class="color__rgb body">G: <span class="color__value">178</span></p>
                        <p class="color__rgb body">B: <span class="color__value">49</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #1AC0C9"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$aqua-blue" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#1AC0C9</span></p>
                        <p class="color__rgb body">R: <span class="color__value">26</span></p>
                        <p class="color__rgb body">G: <span class="color__value">192</span></p>
                        <p class="color__rgb body">B: <span class="color__value">201</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #589BE9"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$base-blue" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#589BE9</span></p>
                        <p class="color__rgb body">R: <span class="color__value">88</span></p>
                        <p class="color__rgb body">G: <span class="color__value">155</span></p>
                        <p class="color__rgb body">B: <span class="color__value">233</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #6278C4"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$blue-jeans" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#6278C4</span></p>
                        <p class="color__rgb body">R: <span class="color__value">98</span></p>
                        <p class="color__rgb body">G: <span class="color__value">120</span></p>
                        <p class="color__rgb body">B: <span class="color__value">196</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #8C58E9"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$base-purple" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#8C58E9</span></p>
                        <p class="color__rgb body">R: <span class="color__value">140</span></p>
                        <p class="color__rgb body">G: <span class="color__value">88</span></p>
                        <p class="color__rgb body">B: <span class="color__value">233</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #CA58E9"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$base-violet" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#CA58E9</span></p>
                        <p class="color__rgb body">R: <span class="color__value">202</span></p>
                        <p class="color__rgb body">G: <span class="color__value">88</span></p>
                        <p class="color__rgb body">B: <span class="color__value">233</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="color mb--56">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #F39ABA"></div>
                      <div class="choise-element__name mt--16">
                          <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                            (mouseout)="resetCopy()">
                            <div class="choise-element__tooltip-copy">
                              <span>{{tooltipText}}</span>
                            </div>
                          </span>
                          <input type="text" value="$peach-pink" class="choise-element__content-copy">
                        </div>
                      <div class="color__rgb-info">
                        <p class="color__rgb body">Hex: <span class="color__value">#F39ABA</span></p>
                        <p class="color__rgb body">R: <span class="color__value">243</span></p>
                        <p class="color__rgb body">G: <span class="color__value">154</span></p>
                        <p class="color__rgb body">B: <span class="color__value">186</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Color usage for statuses">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Additional Colors</h1>
                  <p class="body mb--0">This colors can be used for any UI elements. Like a Charts, Chips, Labels etc.</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-6">
                  <div class="color color--2column mb--96">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #e96058"></div>
                    </div>
                    <div class="color__col">
                        <div class="choise-element__name mt--16">
                            <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                              (mouseout)="resetCopy()">
                              <div class="choise-element__tooltip-copy">
                                <span>{{tooltipText}}</span>
                              </div>
                            </span>
                            <input type="text" value="$base-red" class="choise-element__content-copy">
                          </div>
                      <ul class="color__use-list">
                        <li class="color__use-item">Declined</li>
                        <li class="color__use-item">Rejected</li>
                        <li class="color__use-item">Error</li>
                        <li class="color__use-item">Deleted</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="color color--2column mb--96">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #67b231"></div>
                    </div>
                    <div class="color__col">
                        <div class="choise-element__name mt--16">
                            <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                              (mouseout)="resetCopy()">
                              <div class="choise-element__tooltip-copy">
                                <span>{{tooltipText}}</span>
                              </div>
                            </span>
                            <input type="text" value="$base-green" class="choise-element__content-copy">
                          </div>
                      <ul class="color__use-list">
                        <li class="color__use-item">Completed</li>
                        <li class="color__use-item">Approved</li>
                        <li class="color__use-item">Done</li>
                        <li class="color__use-item">Success</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="color color--2column mb--96">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #ed9438"></div>
                    </div>
                    <div class="color__col">
                        <div class="choise-element__name mt--16">
                            <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                              (mouseout)="resetCopy()">
                              <div class="choise-element__tooltip-copy">
                                <span>{{tooltipText}}</span>
                              </div>
                            </span>
                            <input type="text" value="$base-orange" class="choise-element__content-copy">
                          </div>
                      <ul class="color__use-list">
                        <li class="color__use-item">Pending</li>
                        <li class="color__use-item">Review</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="color color--2column mb--96">
                    <div class="color__col">
                      <div class="color__circle" style="background-color: #589be9"></div>
                    </div>
                    <div class="color__col">
                        <div class="choise-element__name mt--16">
                            <span class="choise-element__icon-copy icon-copy" (click)="copyValue($event)"
                              (mouseout)="resetCopy()">
                              <div class="choise-element__tooltip-copy">
                                <span>{{tooltipText}}</span>
                              </div>
                            </span>
                            <input type="text" value="$base-blue" class="choise-element__content-copy">
                          </div>
                      <ul class="color__use-list">
                        <li class="color__use-item">In Progress</li>
                        <li class="color__use-item">In Work</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>