<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <tabset>
          <tab heading="Tooltips">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Tooltips</h1>
                  <p class="body mb--0">Tooltip display brief text that gives additional information and appear when
                    user
                    hover over, focus on, or tap an element.</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h3 class="h3 mb--56">Specs</h3>
                </div>
                <div class="col-2 mb--64">
                  <figure class="img-wrap mb--24">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                  <div class="tooltips">Add Employee</div>
                </div>
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="h3 mb--24">Usage</h3>
                  <p class="body mb--96">Display the tooltip as long as the user long-presses or hovers over the
                    element. The
                    tooltip appears with a delay of 400 milliseconds. Don’t use a tooltip containing more than 70
                    characters. If you need to use more than 70 characters, you should use a <a class="links"
                      href="#">hint</a>.</p>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-5">
                  <p class="body">A tooltip appears in the center of the click target, below it. If there isn’t enough
                    space the tooltip can appear over click targets, in the rignt or left of click targets.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-5 offset-2">
                  <p class="body">If tooltips under or above the target of the click, use center alignment. If it on the
                    left or on the right of the target of the click, use left or right alignment.</p>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Hints">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--24">Hints</h1>
                  <p class="body mb--0">A hint is a additional info that a user opens by hover on or clicking or on an
                    element. The hint appears with a delay of 100 milliseconds. The hints always applies a left
                    alignment.</p>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
                <div class="col-6">
                  <h3 class="h3 mb--48">Specs</h3>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-3">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-3">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
              <div class="row mb--24">
                <div class="col-6">
                  <p class="body mb--24">The maximum width of a hint’s area is 500px. <br>The recomended width is 248px.
                  </p>
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-6">
                  <p class="body mb--8">Max width 240px</p>
                  <div class="hint hint--close hint--pointer-left-top">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__btn-close icon icon--close icon--size-16px"></button>
                  </div>
                </div>
                <div class="col-6">
                  <p class="body mb--8">Width from 240px to 500px</p>
                  <!-- Class for position hint commented that would not break murkup -->
                  <!-- For usage need change position: relative to position: absolute in css -->
                  <!-- <div class="hint hint--large hint--top-left hint--pointer-left-top hint--close"> -->
                  <div class="hint hint--large hint--pointer-left-top hint--close">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__btn-close icon icon--close icon--size-16px"></button>
                  </div>
                </div>
              </div>
              <div class="row mb--48">
                <div class="col-6">
                  <h3 class="h3 mb--24">Usage</h3>
                  <p class="body mb--24">A hint appear in the right of click targets. If there isn’t enough space, a
                    hint may
                    appear above, under or left of the click targets.</p>
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
              <div class="row mb--24">
                <div class="col-3">
                  <div class="hint hint--pointer-top-left">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-top-right">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-right-top">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-right-bottom">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                  </div>
                </div>
              </div>
              <div class="row mb--24">
                <div class="col-3">
                  <div class="hint hint--pointer-bottom-left">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-bottom-right">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-left-bottom">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-left-top">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                  </div>
                </div>
              </div>
              <div class="row mb--24">
                <div class="col-3">
                  <div class="hint hint--pointer-top-left hint--btn">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__button-right button button--ghost button--for-hints">button</button>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-top-right hint--btn">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__button-right button button--ghost button--for-hints">button</button>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-right-top hint--btn">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__button-right button button--ghost button--for-hints">button</button>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-right-bottom hint--btn">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__button-right button button--ghost button--for-hints">button</button>
                  </div>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-3">
                  <div class="hint hint--pointer-bottom-left hint--btn">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__button-left button button--ghost button--for-hints">button</button>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-bottom-right hint--btn">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__button-right button button--ghost button--for-hints">button</button>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-left-bottom hint--btn">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__button-left button button--ghost button--for-hints">button</button>
                  </div>
                </div>
                <div class="col-3">
                  <div class="hint hint--pointer-left-top hint--btn">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__button-right button button--ghost button--for-hints">button</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="body mb--24">Hints can contain links, images and buttons.</p>
                </div>
                <div class="col-4">
                  <div class="hint hint--pointer-left-top">
                    <p class="hint__body">This page contain only cats images. You can post other image on <a
                        class="hint__link" href="#">New page</a></p>
                  </div>
                </div>
                <div class="col-4">
                  <div class="hint hint--pointer-left-top hint--img">
                    <div class="hint__avatar avatar avatar--48">
                      <img class="avatar__image" src="/assets/img/avatar.jpg" alt="">
                    </div>
                    <p class="hint__body">Tomas Smith</p>
                    <button class="hint__button button button--ghost button--for-hints">undo</button>
                  </div>
                </div>
                <div class="col-4">
                  <div class="hint hint--pointer-top-left hint--btn">
                    <p class="hint__body">Leave e-mail if you want to receive notifications about a new
                      products</p>
                    <button class="hint__button-right button button--ghost button--for-hints">undo</button>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab heading="Tooltips and hints">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h1 class="h1 mb--0">Tooltips and hints</h1>
                </div>
                <div class="col-12">
                  <hr class="divider">
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h2 class="h2 mb--16">Tooltip</h2>
                  <p class="body mb--32">Tooltip display brief text that gives additional information and appear when
                    user hover over, focus on, or tap an element.</p>
                  <p class="body mb--64">Display the tooltip as long as the user long-presses or hovers over the
                    element.<br>
                    The tooltip appears with a delay of 400 milliseconds.<br>
                    Don’t use a tooltip containing more than 70 characters. If you need to use more than 70 characters,
                    you should use a hint.<br>
                    A tooltips applies a center alignment if it is below or above the target of the click, or a left
                    alignment if it is right or left.</p>
                  <p class="body mb--16">A tooltip appears in the center of the click target, below it.</p>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-3 offset-1">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="body mb--16">If there isn’t enough space the tooltip can appear over click targets, in the
                    rignt or left of click targets.</p>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-2 offset-1">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-2 offset-1">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="body mb--16">If the tooltip is near to the icon, the space between them should increase to
                    16 px.</p>
                </div>
              </div>
              <div class="row mb--96">
                <div class="col-2">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-2 offset-1">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="body mb--16">The maximum width of a tooltip’s area is 240 px.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <figure class="img-wrap mb--128">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h2 class="h2 mb--16">Hints</h2>
                  <p class="body mb--48">A hint is a additional info that a user opens by hover on or clicking or on an
                    element. The hint appears with a delay of 100 milliseconds.<br>
                    The hints always applies a left alignment.</p>
                  <p class="body mb--16">A hint appear in the right of click targets.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <figure class="img-wrap mb--128">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-3 offset-1">
                  <figure class="img-wrap mb--128">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="body mb--16">If there isn’t enough space, a hint may appear above the click targets, to the
                    right or left of the click targets.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <figure class="img-wrap mb--128">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-3 offset-1">
                  <figure class="img-wrap mb--128">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-3 offset-1">
                  <figure class="img-wrap mb--128">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="body mb--16">Hints can contain links, images and buttons.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="body mb--16">Hints can contain links, images and buttons.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <figure class="img-wrap mb--128">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-3 offset-1">
                  <figure class="img-wrap mb--128">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
                <div class="col-3 offset-1">
                  <figure class="img-wrap mb--128">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                    </figure>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <p class="body mb--16">The maximum width of a hint’s area is 500px. The recomended width is 248px.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <figure class="img-wrap">
                    <img class="img-wrap__img" src="./assets/img/inputs/contained/Contained 2.png" alt="Specs tooltips">
                  </figure>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>