@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/ProximaNova/ProximaNova-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/ProximaNova/ProximaNova-Light.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/ProximaNova/ProximaNova-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/ProximaNova/ProximaNova-Regular.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/ProximaNova/ProximaNova-Semibold.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/ProximaNova/ProximaNova-Semibold.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/ProximaNova/ProximaNova-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('/assets/fonts/ProximaNova/ProximaNova-BoldIt.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Courier New';
    src: url('/assets/fonts/CourierNew/Courier_New.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Courier New';
    src: url('/assets/fonts/CourierNew/Courier_New_Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Courier New';
    src: url('/assets/fonts/CourierNew/Courier_New_Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Courier New';
    src: url('/assets/fonts/CourierNew/Courier_New_Bold_Italic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'icon-font';
    src:
        url('/assets/fonts/icons/icon-font.svg') format('svg'),
        url('/assets/fonts/icons/icon-font.woff') format('woff'),
        url('/assets/fonts/icons/icon-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }